<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Yokara Suite">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Navigation">
        <classes>
            <class name="tests.NavigationTest"/>
        </classes>
    </test>

</suite>